:root{
    --remover: #af4c4c;
    --adicionar: #4CAF50;
    --corTexto: #FFF;
}

.adicionar{
    background-color: var(--adicionar);
}

.remover{
    background-color: var(--remover);
}

.Adicionar:active,.Remover:active{
    filter: brightness(90%);
}

.hidden {
    display: none;
}

#instance-38740-header .adicionar,
#instance-38740-header .remover {
    margin-left: 5px;
}

.unlist .adicionar,
.unlist .remover {
    width: 21px !important;
    height: 21px !important;
    padding: 0 !important;
    display: flex;
    justify-content: center;
    border-radius: 5px;
}